$border-color:#27302C;

$battle-text-background: #285069;
$battle-text-border-outer: #C8A746;
$battle-text-border-inner: #DED9DF;
$battle-text-color: #F0F4F9;

$battle-menu-background: #F8F8F8;
$battle-menu-border: #6B6685;
$battle-menu-color: #121613;
